.about {
	margin-top: clamp(6.25rem, 4.496rem + 8.77vw, 12.5rem);
	margin-bottom: clamp(6.25rem, 4.496rem + 8.77vw, 12.5rem);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $black;
		margin-bottom: clamp(1.75rem, 1.259rem + 2.46vw, 3.5rem);
	}

	&__subtitle {
		color: $black;
		font-family: Montserrat;
		font-size: clamp(0.75rem, 0.539rem + 1.05vw, 1.5rem);
		font-weight: 400;
		width: clamp(18.75rem, 11.031rem + 38.6vw, 46.25rem);
		line-height: 140%;
		margin-bottom: clamp(1.75rem, 1.259rem + 2.46vw, 3.5rem);
	}

	&__buttons {
		display: flex;
		gap: 20px;
	}

	&__right {
		width: 30%;
	}

	&__img {
		width: 600px;
		height: clamp(18.75rem, 13.487rem + 26.32vw, 37.5rem);
		border-radius: 20px;
		object-fit: cover;

		
	}
}
.about__swiper-slide {
	width: 300px;
}
