.about {
	margin-top: 200px;
	margin-bottom: 215px;

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__left {
		display: flex;
		flex-direction: column;
		margin-right: 80px;
	}

	&__title {
		color: $black;
		margin-bottom: clamp(1.25rem, 0.833rem + 2.08vw, 2.5rem);
	}

	&__subtitle {
		color: $black;
		font-family: Montserrat;
		font-size: clamp(0.75rem, 0.625rem + 0.63vw, 1.125rem);
		font-weight: 400;
		max-width: 740px;
		line-height: 140%;
		margin-bottom: clamp(1.25rem, 0.833rem + 2.08vw, 2.5rem);
		text-align: justify;
	}

	&__buttons {
		display: flex;
		height: 30px;
		gap: 20px;
	}

	&__right {
		// width: clamp(15rem, 10rem + 25vw, 30rem);
		width: 40%;
	}

	&__img {
		height: 600px;
		border-radius: 20px;
		object-fit: cover;
	}
}
.about__swiper-slide {
	width: 300px;
}
