.cafe {
	background: $black;
	color: white;
	margin-top: clamp(6.25rem, 4.496rem + 8.77vw, 12.5rem);
	padding-top: clamp(3.75rem, 2.697rem + 5.26vw, 7.5rem);
	padding-bottom: clamp(6.25rem, 4.496rem + 8.77vw, 12.5rem);
	margin-bottom: clamp(11.25rem, 7.917rem + 16.67vw, 23.125rem);

	&__title {
		color: $white;
		margin-bottom: 10px;
	}

	&__subtitle {
		color: $white;
		font-family: Montserrat;
		font-size: clamp(0.75rem, 0.539rem + 1.05vw, 1.5rem);
		font-weight: 400;
		line-height: 140%;
		width: clamp(18.75rem, 11.732rem + 35.09vw, 43.75rem);
		margin-bottom: 100px;
	}

	&__description {
		margin-bottom: 42px;
		margin-left: 5px;
		li {
			overflow: hidden;
			color: $white;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-family: Montserrat;
			font-size: clamp(0.75rem, 0.539rem + 1.05vw, 1.5rem);
			font-weight: 400;
			line-height: 140%;
			list-style-type: disc;

			&:not(:last-child) {
				margin-bottom: 7px;
			}
		}
	}
}
