footer {
	background: $black;
	padding: 15px 0;
}

.footer {
	&__container {
		display: flex;
		justify-content: center;
	}

	&__title {
		color: $white;
		font-family: Montserrat;
		font-size: clamp(0.625rem, 0.45rem + 0.88vw, 1.25rem);
		font-weight: 400;
		line-height: 140%;
	}
}
