.home {
	position: relative;
	background-image: url('/img/bg.jpg');
	min-height: 780px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.55;
		background: rgba(0, 0, 0, 0.4);
	}

	&__container {
		display: flex;
		flex-direction: column;

	}

	&__title {
		margin-top: 150px;
		color: $white;
		font-size: clamp(2.5rem, 1.535rem + 4.82vw, 5.938rem);
		z-index: 100;
	}

	&__subtitle {
		font-family: Montserrat;
		color: $white;
		font-size: clamp(0.813rem, 0.584rem + 1.14vw, 1.625rem);
		font-weight: 400;
		line-height: clamp(2.5rem, 1.798rem + 3.51vw, 5rem);
		max-width: 800px;
		z-index: 100;
	}
}
