.home {
	position: relative;
	background-image: url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	height: 100vh;
	flex-direction: column;
	margin: 0;
	display: flex;
	justify-content: center;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.55;
		background: rgba(0, 0, 0, 0.6);
	}

	&__container {
		max-width: 1280px;
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 100;
	}
	&__title {
		color: $white;
		font-size: clamp(1.875rem, 1.25rem + 3.13vw, 3.75rem);
		z-index: 100;
		line-height: 130%;
	}

	&__subtitle {
		font-family: Montserrat;
		color: $white;
		font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
		text-align: justify;
		font-weight: 400;
		line-height: 175%;
		z-index: 100;
	}
}
