.rooms {
	&__container {
		display: flex;
		flex-direction: column;
	}

	&__header {
		text-align: center;
		margin-bottom: clamp(0.938rem, 0.611rem + 1.63vw, 1.875rem);
	}

	&__swiper {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 100%;
		padding: clamp(1.25rem, 0.899rem + 1.75vw, 2.5rem)
			clamp(2.813rem, 2.023rem + 3.95vw, 5.625rem);
		border-radius: 30px;
		border: 3px solid #620318;
	}

	&__swiper-slide {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		max-height: 100%;
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__content-left {
		padding: 0;
		margin: 0;
		margin-right: 20px;
	}

	&__content-slide {
		height: 500px;
		&_img {
			height: 500px;
		}
	}

	&__content-img {
		border-radius: 30px;
		width: clamp(12.5rem, 7.292rem + 26.04vw, 28.125rem);
		height: 500px;
		object-fit: cover;
	}

	&__content-right {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: $primary;
		font-family: Montserrat;
		font-size: clamp(1.125rem, 0.815rem + 1.55vw, 2.25rem);
		font-weight: 600;
		line-height: 140%;
		margin-bottom: clamp(1rem, 0.702rem + 1.49vw, 2.063rem);
	}

	&__subtitle {
		color: #000;
		font-family: Montserrat;
		font-size: clamp(0.75rem, 0.539rem + 1.05vw, 1.5rem);
		font-weight: 400;
		line-height: 140%;
		text-align: justify;
		margin-bottom: clamp(1.25rem, 0.899rem + 1.75vw, 2.5rem);
		width: clamp(12.5rem, 6.36rem + 30.7vw, 34.375rem);
	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: clamp(0.938rem, 0.674rem + 1.32vw, 1.875rem);

		img {

		}
	}

	&__price {
		color: #620318;
		font-family: Montserrat;
		font-size: clamp(1rem, 0.724rem + 1.38vw, 2rem);
		font-weight: 400;
	}
}
