@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'config';
@import 'fonts';
@import 'reset';

@import '../block/header.scss';
@import '../block/home.scss';
@import '../block/about.scss';
@import '../block/cafe.scss';
@import '../block/contact.scss';
@import '../block/footer.scss';
@import '../block/rooms.scss';
@import 'swiper';
@import 'media';

[class*='__container'] {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}

body {
	color: $white;
	font-family: Playfair Display;
	font-weight: 700;
	color: black;
}

#map-container {
	width: clamp(16.875rem, 11.042rem + 29.17vw, 34.375rem);
	height: clamp(12.5rem, 8.333rem + 20.83vw, 25rem);
	border-radius: 20px;
}