// Colors

// State Color

$black: #000000;
$white: #fff;
$primary: #620318;
$gray: #2a2626;

// Mixin

@mixin zindex {
	position: relative;
	z-index: 99;
}

@mixin flex($justify, $center, $center1) {
	display: flex;
	justify-content: $justify;
	align-items: $center;
	text-align: $center1;
}

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
}

// Class

.btn_prime {
	background: $primary;
	padding: clamp(0.625rem, 0.417rem + 1.04vw, 1.25rem)
	clamp(1.25rem, 0.833rem + 2.08vw, 2.5rem);
	color: $white;
	font-size: clamp(0.625rem, 0.417rem + 1.04vw, 1.25rem);
	border-radius: 50px;
	font-family: Montserrat;
	font-weight: 400;
	transition: 0.2s all ease-in-out;
	border: 3px solid $primary;
	line-height: 0px;

	&:hover {
		color: $primary;
		background: $white;
	}
}

.btn_second {
	background: transparent;
	color: $primary;
	font-size: clamp(0.625rem, 0.417rem + 1.04vw, 1.25rem);
	padding: clamp(0.625rem, 0.417rem + 1.04vw, 1.25rem)
		clamp(0.5rem, 0.354rem + 0.73vw, 0.938rem);
	border-radius: 50px;
	font-family: Montserrat;
	font-weight: 400;
	border: 3px solid $primary;
	transition: 0.2s all ease-in-out;
	@include flex(center, center, center);

	&:hover {
		color: $white;
		background: $primary;
	}
}

.title {
	font-size: clamp(1.875rem, 1.25rem + 3.13vw, 3.75rem);
	line-height: 140%;
}
