<a class="dg-widget-link"
	href="http://2gis.ru/blagoveshensk/firm/70000001034906021/center/128.46340298652652,50.920181422641996/zoom/18?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
	на карте Благовещенска</a>
<div class="dg-widget-link"><a
		href="http://2gis.ru/blagoveshensk/firm/70000001034906021/photos/70000001034906021/center/128.46340298652652,50.920181422641996/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
		компании</a></div>
<div class="dg-widget-link"><a
		href="http://2gis.ru/blagoveshensk/center/128.463469,50.920218/zoom/18/routeTab/rsType/bus/to/128.463469,50.920218╎Версаль, гостиница?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
		проезд до Версаль, гостиница</a></div>
<script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
<script
	charset="utf-8">new DGWidgetLoader({ "width": 640, "height": 600, "borderColor": "#a3a3a3", "pos": { "lat": 50.920181422641996, "lon": 128.46340298652652, "zoom": 18 }, "opt": { "city": "blagoveshensk" }, "org": [{ "id": "70000001034906021" }] });</script>
<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в
	настройках вашего браузера.</noscript>